:root {
    --callbackpink: #e10079;
    --evalblack: #303f62;
    --returnrose: #ffc4bc;
    --getdaycloud: #dde4f2;
    --promiselinen: #f3ecda;
    --communitycolor: #bcffc4;

    --text-color: var(--promiselinen);

    --vertical-margin: 0.5em;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body,
html {
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--evalblack);
    color: #bbbbbb;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-weight: normal;
    font-size: 1em;
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0 0 var(--vertical-margin) 0;
    text-align: center;
}

a {
    color: var(--callbackpink);
    text-decoration: none;
}

.version {
    font-size: 0.8em;
    left: 4px;
    position: fixed;
    top: 4px;
    z-index: 2;
}

.now {
    border: 0 none;
    cursor: pointer;
    position: fixed;
    right: 4px;
    top: 4px;
    z-index: 2;
}

.slot {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.slot__title {
    background: var(--promiselinen);
    color: var(--evalblack);
    margin-bottom: var(--vertical-margin);
    text-align: center;
    width: 100%;
}

.session {
    --primary-color: var(--returnrose);
    --text-color: var(--promiselinen);
    --invert-text-color: var(--evalblack);

    color: var(--text-color);
    flex: 1 1 50%;
    margin-bottom: calc(var(--vertical-margin) * 2);
    padding: 0 var(--vertical-margin);
}

.session.sidetrack {
    --primary-color: var(--getdaycloud);
}

.session.community {
    --primary-color: var(--communitycolor);
}

.track {
    color: var(--primary-color);
}

.speaker {
    color: var(--primary-color);
}

.description {
    font-size: 0.8em;
    margin-top: var(--vertical-margin);
}

.description summary {
    cursor: pointer;
}

.description summary:focus {
    outline: 0 none;
}

.description p {
    margin: 0 0 var(--vertical-margin) 0;
}

.fav__input {
    display: none;
}

.fav__label {
    cursor: pointer;
}
.fav__label:after {
    content: "♠️";
    font-family: initial;
    padding: 0 2px 0 4px;
}

.fav__clear {
    border: 0 none;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 4px;
    top: 4px;
}

.fav__input:nth-of-type(1):checked ~ .session:nth-of-type(1) .fav__label:after,
.fav__input:nth-of-type(2):checked ~ .session:nth-of-type(2) .fav__label:after {
    content: "❤️";
}

.fav__input:nth-of-type(1):checked ~ .session:nth-of-type(2),
.fav__input:nth-of-type(2):checked ~ .session:nth-of-type(1) {
    opacity: 0.5;
}

.fav__input:checked ~ .fav__clear {
    display: block;
}

header {
    background: var(--evalblack);
    padding: 4px 0;
    position: sticky;
    text-align: center;
    top: -1px;
    z-index: 1;
}

header a {
    display: inline-block;
    font-size: 1.2rem;
    padding: calc(var(--vertical-margin) / 2) var(--vertical-margin);
}

header a.active {
    background: var(--promiselinen);
}
